/* =========================================
   RESET & BASES
   ========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

main {
    width: 600px;
    height:300px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background: url(avatar.jpg) no-repeat;
    background-position: 50%;
    background-size: cover; */
    position:relative;

    h1 {
        color: #fff;
        font-size: 36px;
        top:50px;
        left: 100px;
        position: absolute;
    }
}